/*RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY */
body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #9a6db9, #14532d);
    min-height: 100vh;
    padding: 40px 0;
}

/* CONTAINER  */
.container {
    width: 60%;
    max-width: 1100pX;
    margin: auto;
}

/* HEADER */
header {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20pt;
    color: rgb(247, 247, 247);
    margin-bottom: 30px;
}

header h1 {
    margin-bottom: 0px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 20px;
    transition: 0.3s;
}

nav a:hover {
    opacity: 0.7;
}

/* SECTION CARD  */
form,
table {
    background:rgb(164, 135, 198);
    border-radius: 19px;
    padding: 25px;
    margin-top: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

/* FORM  */
label {
    font-weight: 600;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border-radius: 19px;
    border: 1px solid #ffffff;
    transition: 0.3s;
}

input:focus,
select:focus {
    border-color: #34be28;
    outline: none;
    box-shadow: 0 0 5px rgba(61, 142, 88, 0.5);
}

/*  BUTTON  */
button {
    padding: 10px 18px;
    border: none;
    border-radius: 19px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.1s;
}

button[type="submit"] {
    background: #897248;
    color: white;
}

button[type="submit"]:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

button[type="reset"] {
    background: #897248;
    color: #ffffff;
}
button[type="reset"]:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/*  TABLE= */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #1e7f3f
    color: white;
    padding: 12px;
    border radius :19 ;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #d4e2d3;
}

tr:hover {
    background: #93a9af;
}

/* STATUS BADGE  */
td:nth-child(7) {
    font-weight: bold;
    color:rgb(21, 3, 3);
}
